
<div style="position: fixed; bottom: 0; left: 0; right: 0; font-size: 1rem; vertical-align: middle; text-align: center; padding: 10px 20% 30px; background: magenta; color: white;">
  <h2>
    21. DOWN 
  </h2>
  <p>
    CONGRATS ON MAKING IT THIS FAR! 
    YOU ARE A PERSON OF GREAT FORTITUDE AND SACRIFICE, PUTTING ME FIRST!
    I LOVE YOU FOR IT. AND I STRIVE TO BE THAT FOR YOU!
  </p>
  <p>
    While it's probably annoying how much media we consume (read: basketball), when we first started dating
    I had an incredible time watching this show with you. Even though I affectionately call you this, when I was building this crossword,
    I was actually thinking of how I wanted to be the sidekick to your JoJo.
  </p>
  <a href="https://www.youtube.com/watch?v=vHWZg2giZ08" style="color: cyan;">
    👉 REAL OUTSTANDING WORK, ___________!!!!! 👈
  </a>
</div>

<header class="site-header">
  <nav class="site-navi">
    <h1 class="site-title"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
    <ul class="site-navi-items">
      {{- range .Site.Menus.main }}
      <li class="site-navi-item-{{ .Identifier }}"><a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
      {{- end }}
    </ul>
  </nav>
</header>
<hr class="site-header-bottom">
