@import url(./style-light.css);

/* OVERRIDES */
body {
  background: honeydew;
  line-height: 1.2;
  font-weight: 200;
}

.site-navi {
  padding-bottom: 0;
}

.site-title {
  font-family: "Fredoka One";
  font-size: 3rem;
  font-weight: 400;
}

.about {
  text-align: center;
}

.article img {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0;
}

.list .article-image {
  width: 100%;
  float: none;
  margin-right: 0;
}

.portrait {
  /* justify-content: space-between; */
  display: flex;
  align-items: center;
}
.portrait > div {
  width: 50%;
}
.portrait > div:first-child {
  margin-right: 1rem;
}
